<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.janari.notekeeper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NoteActivity"
            android:label="@string/title_activity_note"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <!--parem klikk ja Got to -> Declaration title_activity_note  - list maha value Edit Note -->
        <!--ta vahetab siin nimed ka ära et kumb sulle ikooni alt kuvatakse. Et milline see peavaade on ja ainult ühele jääb Launcher/intent-filter-->
        <activity
            android:name=".NoteListActivity"

            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>